<div class="container">
    <h2 class="title">Investment Dashboard </h2>
    <br>
    <mat-grid-list cols="15" rowHeight="40px" gutterSize="10px">
        
        <mat-grid-tile class="card" colspan="8"  rowspan="14">
            <div id = "box0">
                <app-type></app-type>
            </div> 
        </mat-grid-tile>
        <mat-grid-tile class="card" colspan="6"  rowspan="3">
            <div class="icon">
                <i class="bi bi-graph-up-arrow"></i>
            </div>
            <div class="deck">
                <h4>Amount invested</h4>
                <h1>{{investedAmount | number:'1.2-2' }}$</h1>
                <div class="button">
                    <button mat-raised-button color="primary" (click)="openDialog()">Add Money</button></div>
                <p></p>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
    
    <br><br>
</div>




    <!-- 

    <div class="card">
        <i  class="bi bi-people-fill icon-colour"></i>
        <h4>Current Users</h4>
        <h1>{{totUsers}}</h1>
        <p>users registered in total</p>
    </div>
    <div class="card">
        <i  class="bi bi-people-fill icon-colour"></i>
        <h4>New Users</h4>
        <h1>{{newUsers}}</h1>
        <p>users subscibed today</p>
    </div>   
    

    <div class="card">
        <div id = "box-0">
            <app-clicked></app-clicked>
        </div> 
    </div>
    <div class="card">
        <div id = "box0">
            <app-favourite></app-favourite>
        </div>  
    </div>

    <div class="card">
        <div id = "box0">
            <app-ordered></app-ordered> 
        </div>
    </div>
    <div class="card">
        <div id = "box0">
            <app-registered></app-registered>
        </div> 
    </div>

    <div class="card">
        <div id = "box0">
            line chart
            <canvas id="linec"></canvas>
        </div>
    </div>
    <div class="card">
        <div id = "box0">
            donut chart
            <canvas id="donut"></canvas>
        </div> 
    </div>

    
     -->