.title{
    margin-top:20px;
    width: 100%;
    color: rgb(43, 44, 44); 
    text-align: center;
    // border: 1px solid red;
}


.chart{
    margin: 50px 10px;
    width: 95%;
    // height: 400px;
    // margin-top: 25px;
    // border: 1px solid red;
    padding: 50px;
}