$theme-primary: #2a9d8f;
$theme-primary-action: #264653;
$theme-dark-background: #152e2c;
$theme-dark: #070707;
$theme-variant-one: #e9c46a;
$theme-variant-two: #f4a261;
$theme-variant-three: #e76f51;
